<!DOCTYPE html>
<html>
  <head>
    <title>Galileo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Styling for theme -->
    <%= stylesheet_link_tag 'theme/material-dashboard.css?v=2.1.0', 'data-turbolinks-track': 'reload' %>
    <!-- Basic JS for theme -->
    <%= javascript_include_tag 'theme/jquery.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'theme/popper.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'theme/bootstrap-material-design.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'theme/perfect-scrollbar.jquery.min', 'data-turbolinks-track': 'reload' %>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <%= javascript_include_tag 'theme/chartist.min', 'data-turbolinks-track': 'reload' %>
    <!--  Notifications Plugin    -->
    <%= javascript_include_tag 'theme/bootstrap-notify', 'data-turbolinks-track': 'reload' %>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <%= javascript_include_tag 'theme/material-dashboard', 'data-turbolinks-track': 'reload' %>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  </head>

  <body>

    <div class="wrapper ">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= render partial: "shared/sidebar" %>

      <div class="main-panel">

        <%= render partial: "shared/navbar" %>

        <div class="content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>

        <%= render partial: "shared/footer" %>

      </div>
    </div>

  </body>
</html>
